<section class="section">
  <div class="container__choose-dog">
    <h2 class="container__choose-dog-text">
      Wybierz rasę psa
     </h2>
     <select class="container__choose-dog-select" (change)="onChange($event)">
       <option *ngFor="let dog of dogsList" [value]="dog">
         {{dog}}
       </option>
     </select>
  </div>
  <div class="container__dog">
    <div *ngIf="dogWikiUrl" class="container__dog-result">
      <img [src]="dogImage" alt="dog">
      <p>
        Więcej informacji o tej rasie psa na stronie: <a [href]="dogWikiUrl">{{dog.toUpperCase()}}</a>
      </p>
    </div>
  </div>


</section>
